.modal-header{
  border-bottom: none;
}

.modal-content{
  background-color: #222222;
}

.close {
    opacity: 1;
}

.modal-content,
.modal-title,
.close{
  color: #fff;
  font-family: 'nintenderregular';
}
