---
title: Rutgers Rock, Paper, Scissors
---

<div id="gameboy" class="gameboy-background">
	<div class="screen-border">
		<div class="dotmatrix">
			<p>dot matrix with stereo sound<p>
		</div>
		<div class="dotmatrix-lines">
			<hr>
			<hr>
		</div>
		<div class="screen">
			<div class="user-score score">
				<p>YOU: <span class="score-value">0</span></p>
			</div>
			<div class="round-counter">
				<p>ROUND: <span class="value">0</span></p>
			</div>			
			<div class="enemy-score score">
				<p>BAD GUY: <span class="score-value">0</span></p>
			</div>			
		</div>
	</div>
	<div class="button control paper"></div>
	<div class="button control scissors"></div>
	<a href="#" class="control rock"><i class="fa fa-plus dpad"></i></a>
	<div class="speakers">
		<div class="speaker-left">
			<i class="fa fa-bars"></i>
			<i class="fa fa-bars"></i>
		</div>
		<div class="speaker-right">
			<i class="fa fa-bars"></i>
			<i class="fa fa-bars"></i>
		</div>	
	</div>	
</div>