---
title: Rutgers Rock, Paper, Scissors
---

<div id="gameboy" class="gameboy-background">
	<div class="screen-border">
		<div class="screen"></div>
	</div>
	<div class="button control paper"></div>
	<div class="button control scissors"></div>
	<a href="#" class="control rock"><i class="fa fa-plus dpad"></i></a>
	<div class="speakers">
		<div class="speaker-left">
			<i class="fa fa-bars"></i>
			<i class="fa fa-bars"></i>
		</div>
		<div class="speaker-right">
			<i class="fa fa-bars"></i>
			<i class="fa fa-bars"></i>
		</div>	
	</div>	
</div>